@model Project_MVC5.Models.tb_SalesOrder
@using PagedList.Mvc;

@{
    /////////////////////////////////////////
    //////////////////////////////////////// Check delete
    ViewBag.Title = "Sales";
    Layout = "~/Views/Shared/_SalesLayout.cshtml";


    int? Bill_No = Model.Bill_No;
    var Customer = "";
    DateTime Date = DateTime.Now;
    var Employee = "";

    if (Model.SearchResults != null)
    {

        var list = Model.SearchResults;
        foreach (var item in Model.SearchResults)
        {
            Bill_No = item.Bill_No;
            Customer = item.Customer;
            Date = item.Date;
            Employee = item.Employee;

        }


    }


}

@Bill_No


<form class="form-horizontal" action="/Sales_Sales/Sales/" method="post">

    <div class="form-horizontal form-control-static">

        <div class="form-group-sm form-inline form-control-static">
            <label class="control-label col-md-push-12">Bill No</label>&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" class="form-control col-md-push-12 bg-gray-light" name="Bill_No" id="Bill_No" value="@Bill_No" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
    </div>
    <div class="form-horizontal">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input name="SearchButton" type="submit" value="Search" class="btn btn-primary text-center" />
    </div>
</form>




<form class="form-horizontal" action="/Sales_Sales/AddorEdit/@Bill_No" method="post">

    <div class="form-horizontal form-control-static">


        <div class="form-group-sm form-inline form-control-static">

            <label class="control-label col-md-push-12">Customer</label> &nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" class="form-control col-md-push-12 bg-gray-light" name="Customer" id="Customer" value="@Customer" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="hidden" name="ID_Product" id="ID_Product" />
            <input type="hidden" name="Bill_No" id="Bill_No" value="@Bill_No" />



            <label class="control-label col-md-push-12">Date</label>&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" class="form-control col-md-push-12 bg-gray-light" name="Date" id="Date" value="@Date" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <label class="control-label col-md-push-12">Employee</label>&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" class="form-control col-md-push-12 bg-gray-light" name="Employee" id="Employee" value="@Employee" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
    </div>


    <br /><br />

    <div class="form-group-sm form-inline form-control-static">
        <label class="control-label col-md-1">Product Name</label>
        <input type="text" class="form-control col-md-1" name="Name_Product" id="Name_Product" />

        <label class="control-label col-md-1">Price</label>
        <input type="text" class="form-control col-md-1" name="Price" id="Price" />

        <label class="control-label col-md-1">Quantity</label>
        <input type="text" class="form-control col-md-1" name="Quantity" id="Quantity" />


    </div>

    <div class="form-horizontal">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="ADD" class="btn btn-primary text-center" />
    </div>
</form>



<br /><br /><br /><br /><br /><br />


<table class="table" style="border:double" border="1">
    <tr>

        <th>Product Name</th>
        <th>Price</th>
        <th>quantity</th>
        <th>Total</th>

    </tr>
    <tbody>
        @if (Model.SearchResults != null)
        {
            double sum = 0;
            foreach (var item in Model.SearchResults)
            {
                sum += (double)item.Total;
                <tr class="main-data" data-id="@item.ID_Product">

                    <td>@item.Name_Product</td>
                    <td>@item.Price</td>
                    <td>@item.Quantity</td>
                    <td>@item.Total</td>
                    <td>
                        <a href="/Sales_Sales/Delete/@item.ID_Product">Delete</a> | <a href="#" onclick="showedit(this)">Edit</a>
                    </td>
                </tr>

            }
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th>Net Total : @sum</th>
            </tr>

        }

        <tr>
            <th>

                <form class="form-horizontal" action="/Sales_Sales/Add/@Bill_No" method="post">
                    <div class="form-horizontal">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="ADD" class="btn btn-primary text-center" />
                    </div>
                </form>
            </th>

        </tr>

    </tbody>

</table>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
            function showedit(objects) {
                var _this = $(objects).closest(".main-data");
                $("#Name_Product").val(_this.find("td").eq(0).html());
                $("#Price").val(_this.find("td").eq(1).html());
                $("#Quantity").val(_this.find("td").eq(2).html());
                $("#ID_Product").val(_this.attr("data-id"));

            }


</script>





