@model IEnumerable<Project_MVC5.Models.tb_SalesOrder>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SalesLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Code_Product)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name_Product)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bill_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hide_Bill)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Code_Product)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name_Product)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bill_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hide_Bill)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Product }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Product }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Product })
        </td>
    </tr>
}

</table>
